<section class="flex flex-col border-2 rounded-lg p-2">
  <div class="w-full border-b-2 border-black">
    <h2 class="text-center">
      <b><%= token %></b>
    </h2>
  </div>
  <div>
    <div>
      Preço-alvo: <b><%= targetPrice %></b>
    </div>
    <div>
      Recomendação: <b><%= recomendation %></b>
    </div>
    <div>
      Data: <b><%= date %></b>
    </div>
    <div>
      Orgão: <b><%= src %></b>
    </div>
  </div>
  <div class="mx-auto underline">
    <a href=<%= href %>>
      Fonte
    </a>
  </div>
</section>